.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;

}


.App-header {
  font-size: calc(10px + 2vmin);
  color: black;
  width: 100%;
}


.headerbackground {
    width: 100%;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tittle{
background-color:white ;
justify-content: center;
align-items: center;
display: flex;
margin-top: 0px;
margin-bottom: 0px;
box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.news-body{
 width: 100%;
 height: auto;
 display: flex;
}


.left-container{

  float: left;
  width: 20%;
  
}
.all__news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news {
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.news__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.head__text {
  margin-top: 30px;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news__author {
  margin-right: 10px;
  color: purple;
}

.news__published {
  margin-right: 10px;
}

.news__source,
.news__published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}

.newscontainer{
  height: auto;
  width: 77%;
}

.App-link {
  color: #61dafb;
}


